<h1>New Advertisement</h1>
    <%= form_for @advertisement do |f|%>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title%>
          </div>
        </div>

        <div class="col-md-9">
          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, within: 0..100 %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter advertisement body"%>
          </div>
          <div class="form-group">
            <%= f.submit "Save", class: 'btn btn-success'%>
          </div>
        </div>
      </div>
    <% end %>
